{% extends "base.html" %}
{% block content %}
<h1>О проекте</h1>
<p>Этот информационный портал является учебным проектом по DevOps.</p>
<h2>Технологический стек:</h2>
<ul>
    <li><strong>Веб-приложение:</strong> Python Flask, Bootstrap</li>
    <li><strong>Контейнеризация:</strong> Docker</li>
    <li><strong>CI/CD:</strong> GitHub Actions</li>
    <li><strong>IaC:</strong> Terraform, Ansible</li>
    <li><strong>Мониторинг:</strong> <a href="https://prometheus.svdbel.org">Prometheus</a>, <a
            href="https://grafana.svdbel.org">Grafana</a></li>
    <li><strong>Логирование:</strong> <a href="https://kibana.svdbel.org/">ELK Stack</a></li>
    <li><strong>Хостинг:</strong> GCP</li>
</ul>
<p><strong>Исходный код:</strong> <a href="https://github.com/svdbel/GameStats-Hub">GitHub Repository</a></p>
{% endblock %}