{% extends "base.html" %}
{% block content %}
<h1>Добро пожаловать на GameStats Hub!</h1>
<p class="lead">Здесь вы найдете статистику, рейтинги и гайды по Dota 2.</p>
<div class="row">
    <div class="col-md-4">
        <h2>Статистика игроков</h2>
        <p>Поиск и детальная статистика по игрокам.</p>
    </div>
    <div class="col-md-4">
        <h2>Рейтинги</h2>
        <p>Лидерборды и таблицы рейтингов.</p>
    </div>
    <div class="col-md-4">
        <h2>Новости</h2>
        <p>Последние обновления и патч-ноуты.</p>
    </div>
</div>
{% endblock %}